# Based on Huawei Eclair init.


service dhcp-service /system/bin/netcfg eth0 dhcp
	oneshot

on property:dev.bootcomplete=1
	stop dhcp-service
	start dhcp-service

on boot

# cpufreq configurations
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 20000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 76
    write /sys/devices/system/cpu/cpufreq/ondemand/down_threshold 60


# Setup bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

#create  WIFI filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/wifi 0770 system wifi
    mkdir /data/misc/wifi/sockets
    chown system wifi /data/misc/wifi/sockets
    chmod 770 /data/misc/wifi/sockets
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/system 0775 system system


# Permission for ril
   chown radio system /dev/oncrpc/30000016:f22ae45c
   chown radio system /dev/oncrpc/30000000:959ac044
   chown radio system /dev/oncrpc/30000019:ab60a474
   chown radio system /dev/oncrpc/3000003c:e89364a0
   chown radio system /dev/oncrpc/30000003:a7eed910
   chown radio system /dev/oncrpc/3000000e:d0b61921
   chown radio system /dev/oncrpc/30000000:959ac044
   mkdir /data/local
   chmod 0777 /data/local
   chown radio shell /data/local
   mkdir /data/local/tmp
   chmod 0777 /data/local/tmp
   chown radio shell /data/local/tmp

# input
    chmod 0777 /dev/input/event0
    chmod 0666 /dev/input/event1

# SD card polling
    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling

# Enable MASS storage on SDCARD
    write /sys/devices/platform/mass_storage/lun0/file /dev/block/mmcblk0p1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1   

# Sensors
    chmod 0666 /dev/akm8973_aot
    chmod 0666 /dev/akm8973_dev
    chmod 0666 /dev/accel

# logs
    write /sys/kernel/logger/log_main/enable 1
    write /sys/kernel/logger/log_main/priority 2
    write /sys/kernel/logger/log_events/enable 1
    write /sys/kernel/logger/log_events/priority 2
    write /sys/kernel/logger/log_radio/enable 1
    write /sys/kernel/logger/log_radio/priority 2


on property:init.svc.hcid=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyHSUSB0 &

service qmuxd /system/bin/qmuxd &

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot

service hcid /system/bin/hcid -s -n -f /etc/bluez/hcid.conf
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let hcid drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

service bm3obexd /system/bin/dbus_bt -i /etc/bm3
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service bm3OPP /system/bin/sdptool add --channel=4 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# START HUAWEI RPC SERVICE
service oem_rpc_svc /system/bin/oem_rpc_svc
    oneshot
	
	
# WPA SETTINGS
service wpa_supplicant /system/bin/wpa_supplicant -Dawext -ieth0 -W -c/data/misc/wifi/wpa_supplicant.conf
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -B
    disabled 
    oneshot

#service wlan_tool /system/bin/wlan_tool 
#	disabled
#	oneshot

#service abtfilt /system/bin/abtfilt -c -d -z -n
#   disabled
#    oneshot

service akmd /system/bin/akmd2
    user compass
    group compass misc input
